---
import { ViewTransitions } from "astro:transitions";
import { AppHeader } from "@components/appHeader/AppHeader";
import { Audio } from "@components/events/Audio";
import { ShipInfo } from "@components/ship/Info";
import "@styles/global.css";
---

<html lang="zh-Hans-CN">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>星舰 ｜ 偌星</title>
    <ViewTransitions />
  </head>
  <body>
    <ShipInfo />
    <AppHeader client:idle />
    <Audio client:idle transition:persist />
  </body>
</html>
