---
---
<div class="fixed w-full box-border z-10 px-[70px] pt-[37px] pb-0 left-0 top-0">
  <div class="relative flex flex-row justify-between items-center translate-x-0 -translate-y-2/4 box-border">
    <a class="hy-logo" href="/home">
      <img src="/images/events/logo_game.png" alt="logo" class="object-contain h-7">
    </a>
    <div class="hy-line-m"></div>
    <a class="text-sm text-[white] whitespace-nowrap cursor-pointer select-none" href="/home">进入官网</a>
  </div>
  <div class="hy-line">
    <div class="hy-r"></div>
    <div class="hy-l"></div>
  </div>
</div>
