<div class="fixed w-full box-border z-10 pt-[37px] pb-0 left-0 top-0">
  <div
    class="relative flex flex-row justify-between items-center translate-x-0 -translate-y-2/4 box-border"
  >
    <div class="w-[46px] h-px bg-white/20" />
    <a class="mx-6" href="/home">
      <img
        src="/images/events/logo_game.png"
        alt="logo"
        class="object-contain h-7"
      />
    </a>
    <div class="flex-1 h-px bg-white/20" />
    <a
      class="text-sm text-[white] whitespace-nowrap cursor-pointer select-none mx-6"
      href="/home">进入官网</a
    >
    <div class="w-[46px] h-px bg-white/20" />
  </div>
</div>
