---
import "../styles/global.css";
import { Events } from "@components/events";
import { Audio } from "@components/events/Audio";
import { Nav } from "@components/events/Nav";
import { ViewTransitions } from 'astro:transitions';
import { AppHeader } from "@components/appHeader/AppHeader";
---

<html lang="zh-Hans-CN">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>偌星 ｜ Starlike</title>
    <ViewTransitions />
  </head>
  <body>
    <div>
      <Events client:idle />
      <Audio client:idle />
      <Nav client:idle />
      <AppHeader client:idle />
    </div>
  </body>
</html>
