@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AlibabaPuHuiTi';
  font-style: normal;
  font-weight: 400;
  src:
    url(/fonts/AlibabaPuHuiTi-3-Light.woff2) format('woff2'),
    url(/fonts/AlibabaPuHuiTi-3-Light.woff) format('woff');
}


@layer base {
  html,
  body {
    @apply w-full h-full bg-[#191919] text-white;
    font-family: AlibabaPuHuiTi, system-ui, sans-serif;
  }
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}