---
import { HomePage } from "@components/home";
import { Menu } from "@components/home/menu";
import Bg from "@components/home/bg/index.astro";
import { Sky } from "@components/home/sky";
import { Audio } from "@components/events/Audio";
import { Name } from "@components/home/Name";
import { AudioBtn } from "@components/home/audio";
import { HomeInit } from "@components/home/init";
import "@styles/global.css";
import { fade } from 'astro:transitions';
import { AppHeader } from "@components/appHeader/AppHeader";
---

<html lang="zh-Hans-CN">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>偌星 ｜ Starlike</title>
  </head>
  <body>
    <div class="w-screen h-screen relative">
      <HomePage client:idle />
      <Bg />
      <Sky client:idle />
      <Name client:idle />
      <AudioBtn client:idle />
      <Audio client:idle />
      <AppHeader client:idle />
      <HomeInit client:only="react" />
    </div>
  </body>
</html>
