---
import { ViewTransitions } from 'astro:transitions';
import { AppHeader } from "@components/appHeader/AppHeader";
import "@styles/global.css";
import { AlliancePage } from '@components/alliance/page';
import { Audio } from "@components/events/Audio";
import { AllianceNav } from '@components/alliance/nav';
---

<html lang="zh-Hans-CN">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>偌星 ｜ Starlike</title>
    <ViewTransitions />
  </head>
  <body>
    <AlliancePage client:idle type="empire" />
    <AllianceNav type="empire" />
    <AppHeader client:idle />
    <Audio client:idle />
  </body>
</html>
