---
import "../styles/global.css";
import Header from "../components/events/header.astro";
import { Events } from "../components/events";
import { Audio } from "../components/events/Audio";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Starlike</title>
  </head>
  <body>
    <div>
      <Header />
      <Events client:idle />
      <Audio client:idle />
    </div>
  </body>
</html>
