<div class="absolute top-0 right-0 bottom-0 left-0">
  <!-- 星空 -->
  <img
    src={`/images/home/bg_1.webp`}
    alt="home=bg"
    class="object-cover object-center w-full h-full"
  />
  <!-- 地球 -->
  <img
    src="/images/home/1-2_3.webp"
    alt="earth"
    class="absolute bottom-[-3vh] w-full bg-contain object-bottom-center"
  />
  <!-- 月球 -->
  <!-- 少女 -->
</div>
