<div class="absolute top-0 right-0 bottom-0 left-0 overflow-hidden">
  <!-- 星空 -->
  <img
    src={`/images/home/bg_1.webp`}
    alt="home=bg"
    class="object-cover object-center w-full h-full"
  />
  <!-- 地球 -->
  <img
    src="/images/home/1-2_3.webp"
    alt="earth"
    class="absolute bottom-[-3vh] w-full object-contain object-bottom-center"
  />
  <!-- 月球 -->
  <img
    src="/images/home/1-2_4.webp"
    alt="earth"
    class="absolute bottom-0 w-[102%] object-contain object-bottom-center"
  />
  <!-- 少女 -->
  <div class="absolute w-[20vw] h-[22vw] -translate-x-2/4 left-2/4 bottom-[6vh]">
    <img src="/images/home/1-2_6.webp" alt="girl" class="object-contain object-bottom-center">
  </div>
</div>
