---
import { ViewTransitions } from "astro:transitions";
import { AppHeader } from "@components/appHeader/AppHeader";
import { AlliancePage } from "@components/alliance/page";
import { AllianceNav } from "@components/alliance/nav";
import { Audio } from "@components/events/Audio";
import "@styles/global.css";
---

<html lang="zh-Hans-CN">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>偌星 ｜ Starlike</title>
    <ViewTransitions />
  </head>
  <body>
    <AlliancePage client:idle type="selene" />
    <AllianceNav type="selene" />
    <AppHeader client:idle />
    <Audio client:idle />
  </body>
</html>
