---
import { AppHeader } from "@components/appHeader/AppHeader";
import "@styles/global.css";
---

<html lang="zh-Hans-CN">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>偌星 ｜ Starlike</title>
  </head>
  <body>
    <div class="w-full h-full relative">moutainpass</div>
  </body>
  <AppHeader client:idle />
</html>
